<form role="form" class="contact-form dark-form animated-form">
    <p class="footer-title">Ask us a question</p>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" />
                <label for="exampleInputEmail1">
                    Name
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputPassword1" />
                <label for="exampleInput">
                    Email
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <textarea name="" class="form-control" id="" cols="30" rows="3"></textarea>
                <label for="exampleInput">
                    Message
                </label>
            </div>
        </div>
    </div>


    <button type="submit" class="btn btn-default">
        Submit
    </button>
</form>
