        <div class="main-content" role="content">
            <div class="container">

                     <ol class="breadcrumb">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Tourist Packages</a></li>
                    </ol>

                   <div class="uk-grid uk-flex">

                    <div class="uk-width-medium-1-4">

                        <aside class="widget sticky-widget tourist-package-form-inner">

                            <form action="" id="tourist-package-form-inner_form">

                                <div class="form-group">
                                    <label for="">
                                        {{ ml.routeFrom | ml }}
                                    </label> <br>
	                                <select name="routefrom" [(ngModel)]="pointA" id="routefrom" class="form-control fit-width">
										<option *ngFor="let point of APoints" [ngValue]="point">{{ point.title | ml }}</option>
	                                </select>
                                </div>

                                <div class="form-group">
                                    <label for="">
                                        {{ ml.routeTo | ml }}
                                    </label> <br>
                                    <select name="routeto" [(ngModel)]="pointB" id="routeto" class="form-control fit-width" [disabled]="!pointA">
										<option *ngFor="let point of BPoints" [ngValue]="point">{{ point.title | ml }}</option>
	                                </select>
                                </div>

                                <div class="form-group">
                                    <label for="rf">{{ ml.dateOfDeparture | ml }}</label>
	                                <div class='input-group date'>
										<input #departureDateNode name="departureDate" class="form-control" type="text"  [value]="departureDate | date: 'dd.MM.yyyy'">
	                                </div>

                                </div>

                                <div class="form-group">
                                    <div class="styled-checkbox">
	                                    <input class="checkbox" type="checkbox" id="ch3">
	                                    <label for="ch3">{{ ml.anyDate | ml }}</label>
	                                </div>
                                </div>

                                <div class="row">

									<div class="col-md-4 form-group" *ngFor="let pc of peopleCount">
                                        <label for="rf">{{pc.ageGroup.title | ml}}</label>
                                        <input type="number" min="0" class="form-control" [(ngModel)]="pc.count" [ngModelOptions]="{standalone: true}">
                                    </div>

                                </div>

                                <div class="form-group">
									<label for="ad">Adults</label>
                                	<input type="number" min="0" class="form-control" [(ngModel)]="adults" [ngModelOptions]="{standalone: true}">
                                 </div>

                                 <div class="form-group">
                                    <label for="ki">Kids</label>
                                    <input type="number" min="0" class="form-control" [(ngModel)]="kids" [ngModelOptions]="{standalone: true}" (change)="resetKidsAges()">
                                </div>

                                <div class="form-group" *ngFor="let kid of kidsAges; let i = index;">
									<label for="">Kid {{ i + 1 }} age:</label>
									<input type="number" min="0" class="form-control" [(ngModel)]="kid.value" [ngModelOptions]="{standalone: true}">
								</div>
								
								<div class="form-group">
                                    <h4>Star rating</h4>
									<span class="styled-checkbox" *ngFor="let r of ratingsList">
										<input type="checkbox" name="rating" value="{{r}}" [(ngModel)]="rating[r]" id="r{{r}}" [ngModelOptions]="{standalone: true}"> <label for="r{{r}}">{{ r }}</label>
									</span>

                                </div>

                            </form>

                        </aside>

                    </div>

                    <div class="uk-width-medium-3-4">

                        <h1>{{ ml.allTripsFrom | ml }} <span *ngIf="pointA">{{ pointA.title | ml }}</span><span *ngIf="pointB"> to {{ pointB.title | ml }}</span></h1>

                        <div class="sort-line">
                            <div class="sort-line_title">
                                {{ ml.sortBy | ml }}
                            </div>

                            <div class="sort-line_sort">
                                <span class="lbl">{{ ml.price | ml }}</span>&nbsp;
                                <span class="styled-radio radio-sort sort_down">
                                    <input type="radio" id="price_down" name="package-sort" value="">
                                    <label for="price_down"><i class="fa fa-chevron-down" aria-hidden="true"></i></label>
                                </span>&nbsp;
                                <span class="styled-radio radio-sort sort_up">
                                    <input type="radio" id="price_up" name="package-sort" value="">
                                    <label for="price_up"><i class="fa fa-chevron-up" aria-hidden="true"></i></label>
                                </span>
                            </div>

                            <div class="sort-line_sort">
                                <span class="lbl">{{ ml.dateOfDeparture | ml }}</span>&nbsp;
                                <span class="styled-radio radio-sort sort_down">
                                    <input type="radio" id="date_down" name="package-sort" value="">
                                    <label for="date_down"><i class="fa fa-chevron-down" aria-hidden="true"></i></label>
                                </span>&nbsp;
                                <span class="styled-radio radio-sort sort_up">
                                    <input type="radio" id="date_up" name="package-sort" value="">
                                    <label for="date_up"><i class="fa fa-chevron-up" aria-hidden="true"></i></label>
                                </span>
                            </div>
                        </div>

                        <div class="tourist-packages-list">

                            <article class="tourist-package-item" *ngFor="let item of packageList">

                                <div class="row">

                                    <div class="col-md-3 tourist-package-item_image" [style.background-image]="'url(' + (item.image && item.image.link || '') + ')' ">

                                    </div>

                                    <div class="col-md-7">
                                        <div class="tourist-package-item_description">
                                            <div class="h3 tourist-package-item_title"><a (click)="select(item); $event.stopPropagation()">{{ item.title | ml }}</a></div>

                                            <div class="tourist-package-item_date-line">
                                                <span class="tourist-package-item_date"> {{ item.minimalDuration }} nights</span>
                                            </div>

                                            <div class="tourist-package-item_includes">
                                                <p class="lbl">{{ ml.tourIncludes | ml }}</p>

                                                <ul class="tourist-package-item_includes-list">
                                                    <li><i class="ico ico_boat"></i>{{ ml.ferryFrom | ml }} {{ item.pointA.title | ml }} to {{ item.pointB.title | ml }} {{ ml.andBack | ml }}</li>
                                                    <li *ngIf="item.hotel"><i class="ico ico_hotel"></i> {{ ml.hotel | ml }} <strong>{{item.hotel.title | ml}}</strong></li>
                                                    <!-- <li><i class="ico ico_tour"></i> Cairo Day Tour</li> -->
                                                </ul>
                                            </div>
											
											<div class="tourist-package-item_date-line">
                                                <!--span class="tourist-package-item_date"> {{ item.minimalDuration }} nights</span-->
												<span class="tourist-package-item_duration" *ngFor="let duration of item.durations">
													<div class="styled-radio">
														<input class="radio" id="package-duration{{ duration }}" name="package-duration" type="radio" ngModel="[(duration)]" value="{{ duration }}">
														<label for="package-duration{{ duration }}" *ngIf="duration == 1">{{ duration }} {{ ml.night1 | ml }} - {{ duration + 1 }} {{ ml.day2 | ml }}</label>
														<label for="package-duration{{ duration }}" *ngIf="duration == 2">{{ duration }} {{ ml.night2 | ml }} - {{ duration + 1 }} {{ ml.day3 | ml }}</label>
														<label for="package-duration{{ duration }}" *ngIf="duration >= 3">{{ duration }} {{ ml.night3 | ml }} - {{ duration + 1 }} {{ ml.day3 | ml }}</label>
													</div>
												</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 tourist-package-item_pricing">

                                        <div class="tourist-package-item_price">
                                            <div class="lbl">{{ ml.from | ml }}</div>
                                            <div class="price">{{ item.getMinimalCost(departureDate, ageList) | number:'1.2-2' }}</div>
                                            <div class="lbl">{{ ml.perPerson | ml }}</div>
                                        </div>

                                        <ul class="tourist-package-item_includes-list-short">
                                            <li>{{ ml.tickets2way | ml }}</li>
                                            <li>{{ ml.hotel | ml }}</li>
                                            <!-- <li>Excursion</li> -->
                                        </ul>

                                        <a class="btn btn-danger btn-sm tourist-package-item_book-now" (click)="select(item); $event.stopPropagation()">{{ ml.bookNow | ml }}</a>

                                    </div>

                                </div>
								 <!-- <div> DEBUG: {{ item.image | json }} </div> -->
                            </article>


                           <!--  <nav aria-label="Page navigation">
                              <ul class="pagination">
                                <li>
                                  <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                  <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                              </ul>
                            </nav> -->
                        </div>

                    </div>

                </div>
            </div>

        </div>
