.admin-navbar {
	background: #284666;
	border-radius: 0;
}

.admin-navbar-logo {
	height: 30px;
}

.admin-navbar-logo path {
	fill: #fff;
}

.admin-navbar-nav>li>a {
	color: #fff;
	text-shadow: none;
	cursor: pointer;
}

.admin-navbar-nav>li.uk-open>a, .admin-navbar-nav>li:hover>a, .admin-navbar-nav>li>a:focus {
	color: #fff;
	background-color: #284666;
}

.uk-button.admin-button.uk-active,
.uk-button.admin-button:active,
.uk-button.admin-button.uk-active:hover {
	background-color: #72ae41;
	color: #fff;
	text-shadow: none;
}

.admin-cursor-pointer {
	cursor: pointer;
}

.admin-li-line:hover {
	background: #fafafa;
}

.admin-list-icons i + i {
	margin-left: 5px;
}

.tm-article-subtitle {
	padding-left: 6px;
	border-left: 3px solid #1FA2D6;
}


.admin-hidde-cild .admin-hidden-cild {
	display: none !important;
}

.admin-padding-horizontal {
	padding-left: 1em;
	padding-right: 1em;
}

input.uk-form-width-mini {
	width: 50px;
}
