<div class="main-content" role="content">
    <div class="container">
        <div class="row" style="position:relative;">
            <div class="col-md-9">

                <h1>Ticket reservation</h1>
                <a href="/" class="btn btn-primary btn-ghost btn-left">New search</a>
                <p>Some text describing important info. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ex ercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <!-- <p> DEBUG: {{ primaryContact | json }}</p> -->

                <div class="order-form" id="order-form">

                    <div *ngFor="let human of item.people; let i = index" class="passenger-info">
                        <header class="passenger-info_header">
                            <span class="h3">Passenger {{ i + 1 }}</span>
                            <span class="styled-radio primary-contact-radio">
                                <input name="primaryContact" class="radio" type="radio" [attr.id]="'pc-' + i" [checked]="primaryContact === human" (click)="primaryContact = human">
                                <label [attr.for]="'pc-' + i">Primary contact</label>
                            </span>
                            <a class="passenger-info_delete" (click)="deleteHuman(human); $event.stopPropagation()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </header>

                        <order-human [(item)]="item.people[i]"></order-human>
                    </div>

                    <div class="text-right">
                        <button class="btn btn-primary btn-ghost" (click)="addHuman(); $event.stopPropagation()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add passenger
                        </button>
                    </div>


                    <hr>

                    <section class="payment-details">

                        <h3>Enter your payment details</h3>

                        <div class="payment-details_methods">
							<span class="payment-details_method" *ngFor="let paymentType of paymentTypes; let i = index">
								<span class="styled-radio">
									<input name="paymentType" class="radio" type="radio" [attr.id]="'pt-' + i" [checked]="item.paymentType === paymentType" (click)="item.paymentType = paymentType">
									<label [attr.for]="'pt-' + i">{{ paymentType.title | ml }}</label>
								</span>
							</span>
						</div>
                        <div class="clearfix">
                            <div class="payment-system_container col-md-8" id="payment-system_card" [class.hide]="item.paymentType.id !== 'card'">
                            <div class="payment-system_card">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label>
                                            CARD TYPE
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="styled-radio styled-radio-w">
        									<input name="card-type" class="radio" type="radio" id="card-type_visa">
        									<label for="card-type_visa">
        									    <img src="/img/visa.svg" width="40" alt="">
        									</label>
        								</span>
                                        &nbsp; / &nbsp;
                                        <span class="styled-radio styled-radio-w">
        									<input name="card-type" class="radio" type="radio" id="card-type_mc">
        									<label for="card-type_mc"><img src="/img/mastercard.svg" width="40" alt=""></label>
        								</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label>
                                            CARD NUMBER <span *ngIf="item.card.type" class="card-type ({{item.card.type}})"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input required type="text" class="form-control" id="card-number" [(ngModel)]="item.card.number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="cardholder-name">
                                            CARDHOLDER NAME
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input required type="text" class="form-control" id="cardholder-name" [(ngModel)]="item.card.cardholder">
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-4">
                                        <label for="cardholder-name">
                                            VALID THRU
                                        </label>
                                    </div>
                                    <div class="col-md-5 valid-thru">
                                        <div class="valid-thru_month">
                                            <select required id="valid-thru_month" data-control="selectpicker" class="selectpicker form-control fit-width" [(ngModel)]="item.card.validMonth">
                                                <option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
                                            </select>
                                       </div>
                                        <div class="valid-thru_year">
                                            <select required name="" id="valid-thru_year" data-control="selectpicker" class="selectpicker form-control fit-width" [(ngModel)]="item.card.validYear">
                                                <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label for="cvv" class="cvv-label">
                                            CVV
                                        </label>
                                        <input type="text" max="3" size="3" required class="form-control" id="cvv" [(ngModel)]="item.card.cvv">
                                    </div>

                                </div>
                            </div>
                        </div>

                            <div class="payment-system_container col-md-8" id="payment-system_card" [class.hide]="item.paymentType.id === 'card'">
                                You have chosen {{ item.paymentType.title | ml }}. We will contact you as soon as possible and inform you on next steps.
                            </div>
                        </div>
                    </section>

                    <div class="payment-details_submit">
                        <button type="submit" class="btn btn-danger btn-lg" (click)="submit(); $event.stopPropagation()">
                            Submit Payment
                        </button>


                    </div>

                </div>
            </div>
            <div class="col-md-3">

                <aside class="order-details widget trip-details" data-uk-sticky id="order-details">
                    <header class="widget_header">
                        Order details
                    </header>

                    <div *ngFor="let shift of item.shifts" class="order-trip_container">
                        <div class="order-trip order-trip-outward">
                            <i class="ico ico_boat"></i>
                            <b>{{ shift.trip.pointA.title | ml }} &rarr; {{ shift.trip.pointB.title | ml }}</b> valid <b>{{ shift.date | date: 'dd.MM.yyyy'}}</b>
                        </div>

                        <div *ngIf="shift.price" class="order-trip_details">
							<div class="order-trip_detail" *ngFor="let peopleCount of item.getPeopleCounts(shift.date)">
								<div class="lbl">{{ peopleCount.ageGroup.title | ml }}</div>
								<div class="val">{{ peopleCount.count }}&nbsp;x&nbsp;{{ (shift.price && shift.price.getCost(peopleCount.ageGroup) || 0) | number:'1.2-2' }}</div>
							</div>
							<div class="order-trip_detail" *ngIf="shift.vehicle">
								<div class="lbl">{{ shift.vehicle.title | ml }}</div>
								<div class="val">1&nbsp;x&nbsp;{{ (shift.price && shift.price.getVehicleCost(shift.vehicle)) | number:'1.2-2' }}</div>
							</div>
                        </div>
                    </div>


                    <div class="order-details_summary">
                        <div class="order-details_summary_line">
                            <div class="lbl">Tickets price</div>
                            <div class="val">{{ item.fullCost | number:'1.2-2' }}</div>
                        </div>
                    </div>

                    <div class="order-details_summary">
                        <div class="order-details_summary_line">
                            <div class="lbl">Processing fee:</div>
                            <div class="val">{{ item.processingFee | number:'1.2-2' }}</div>
                        </div>
                    </div>

                    <footer class="widget_footer">
                        <div class="order-details_total">
                            <div class="lbl">Total</div>
                            <div class="val">{{ item.totalCost | number:'1.2-2' }}</div>
                        </div>
                    </footer>
                </aside>

            </div>
        </div>
    </div>

</div>
