<div class="passenger-info_body">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Name
                </label>
                <input type="text" class="form-control" [(ngModel)]="item.title">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Nationality
                </label>
                <select [(ngModel)]="item.nationality" data-control="selectpicker" class="selectpicker form-control fit-width">
                    <option *ngFor="let n of nationality" [ngValue]="n">{{ n.title }}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="rf">Date of birth</label>
                <div class='input-group date'>
                    <input #dobNode type="text" class="form-control" [value]="item.dob | date: 'dd.MM.yyyy'">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Passport number
                </label>
                <input type="text" class="form-control" [(ngModel)]="item.passport">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Phone
                </label>
                <input type="text" class="form-control" [(ngModel)]="item.phone">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Email
                </label>
                <input type="email" class="form-control" [(ngModel)]="item.email">
            </div>
        </div>
    </div>

</div>
