<div class="main-content" role="content">
    <div class="container" id="order-details-container" [class.hidden]=" submitted ">

		<div class="main-search-form_form inner-search-form">

            <div class="trip-select-header uk-grid uk-flex">
                <div class="uk-width-medium-1-4">
                    <div class="styled-radio">
                        <input class="radio" type="radio" name="tripselector-form_check" id="tripselector-form_check-oneway" [checked]="checkType('oneway')" (click)="setType('oneway')">
                        <label for="tripselector-form_check-oneway">{{ ml.tripTypeOneway | ml }}</label>
                    </div>
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="styled-radio">
                        <input class="radio" type="radio" name="tripselector-form_check" id="tripselector-form_check-roundtrip" [checked]="checkType('twoway')" (click)="setType('twoway')">
                        <label for="tripselector-form_check-roundtrip">{{ ml.tripTypeRound | ml }}</label>
                    </div>
                </div>
            </div>
            <form class="tripselector-form main-search-form_form_form main-search-form-inner">

                <div class="uk-grid uk-flex">

                    <div class="uk-width-medium-1-5">
                        <label for="routefrom">{{ ml.routeFrom | ml }}</label>
                        <select name="routefrom" [(ngModel)]="pointA" id="routefrom" class="form-control fit-width">
							<option *ngFor="let point of APoints" [ngValue]="point">{{ point.title | ml }}</option>
                        </select>
                    </div>

                    <div class="uk-width-medium-1-5">
                        <label for="routeto">{{ ml.routeTo | ml }}</label>
                        <select name="routeto" [(ngModel)]="pointB" id="routeto" class="form-control fit-width" [disabled]="!pointA">
							<option *ngFor="let point of BPoints" [ngValue]="point">{{ point.title | ml }}</option>
                        </select>
                    </div>
                

                    <div class="uk-width-medium-1-5 form-group">
                        <label for="rf">{{ ml.dateOfDeparture | ml }}</label>
                        <div class='input-group date'>
							<input #departureDateNode name="departureDate" class="form-control" type="text"  [value]="item.departureDate | date: 'dd.MM.yyyy'">
                        </div>

                    </div>

                    <div class="uk-width-medium-1-5 form-group" [class.hide]="!checkType('twoway')">
                        <label for="rf">{{ ml.dateOfReturn | ml }}</label>
                        <div class='input-group date'>
                           <input #returnDateNode name="returnDate" class="form-control" type="text" [value]="item.returnDate | date: 'dd.MM.yyyy'">
                        </div>
                    </div>

                    <div class="uk-width-medium-1-5">
                        <label>{{ ml.vehicle | ml }}</label>
                        <select name="vehicle" [(ngModel)]="item.vehicle" class="form-control fit-width" [disabled]="!pointA || !pointB">
                        	<option [ngValue]="null">{{ ml.none | ml }}</option>
                            <option *ngFor="let curVehicle of vehicleList" [ngValue]="curVehicle">{{ curVehicle.title | ml }}</option>
                        </select>
                    </div>

					</div>

            </form>

        </div>

        <div class="uk-grid uk-flex" style="position:relative;">
            <div class="uk-width-medium-7-10">

                <h1>{{ ml.ticketReservation | ml }}</h1>

				<div *ngIf="item.trip" [innerHTML]="item.trip.content | ml"></div>

                <!-- <p> DEBUG: {{ item | json }}</p> -->

                <div class="order-form" id="order-form">

                    <div *ngFor="let human of item.people; let i = index" class="passenger-info">
                        <header class="passenger-info_header">
                            <span class="h3">{{ ml.passenger | ml }} {{ i + 1 }}</span>
                            <span class="styled-radio primary-contact-radio">
                                <input name="primaryContact" class="radio" type="radio" [attr.id]="'pc-' + i" [checked]="primaryContact === human" (click)="primaryContact = human">
                                <label [attr.for]="'pc-' + i">{{ ml.primaryContact | ml }}</label>
                            </span>
                            <a class="passenger-info_delete" (click)="deleteHuman(human); $event.stopPropagation()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </header>

                        <order-human [(item)]="item.people[i]"></order-human>
                    </div>

                    <div class="text-right">
                        <button class="btn btn-primary btn-ghost" (click)="addHuman(); $event.stopPropagation()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ ml.addPassenger | ml }}
                        </button>
                    </div>


                    <hr>

                    <section class="payment-details">

                        <h3>{{ ml.paymentDetails | ml }}</h3>

                        <div class="payment-details_methods">
							<span class="payment-details_method" *ngFor="let paymentType of paymentTypes; let i = index">
								<span class="styled-radio">
									<input name="paymentType" class="radio" type="radio" [attr.id]="'pt-' + i" [checked]="item.paymentType === paymentType" (click)="item.paymentType = paymentType">
									<label [attr.for]="'pt-' + i">{{ paymentType.title | ml }}</label>
								</span>
							</span>
						</div>
                        <div class="clearfix">
                            <div class="payment-system_container" id="payment-system_card" [class.hide]="item.paymentType.id !== 'card'">
                            <div class="payment-system_card">
                                <div class="form-group uk-flex uk-grid uk-grid-small">
                                    <div class="uk-width-3-10">
                                        <label>
                                            {{ ml.cardType | ml }}
                                        </label>
                                    </div>
                                    <div class="uk-width-7-10">
                                        <span class="styled-radio styled-radio-w">
        									<input name="card-type" class="radio" type="radio" id="card-type_visa">
        									<label for="card-type_visa">
        									    <img src="/img/visa-48.png" width="40" alt="">
        									</label>
        								</span>
                                        &nbsp; / &nbsp;
                                        <span class="styled-radio styled-radio-w">
        									<input name="card-type" class="radio" type="radio" id="card-type_mc">
        									<label for="card-type_mc"><img src="/img/mastercard-48.png" width="40" alt=""></label>
        								</span>
                                    </div>
                                </div>
                                <div class="form-group uk-flex uk-grid uk-grid-small">
                                    <div class="uk-width-3-10">
                                        <label>
                                            {{ ml.cardNumber | ml }} <span *ngIf="item.card.type" class="card-type ({{item.card.type}})"></span>
                                        </label>
                                    </div>
                                    <div class="uk-width-7-10">
                                        <input required type="text" class="form-control" id="card-number" [(ngModel)]="item.card.number" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group uk-flex uk-grid uk-grid-small">
                                    <div class="uk-width-3-10">
                                        <label for="cardholder-name">
                                            {{ ml.cardholderName | ml }}
                                        </label>
                                    </div>
                                    <div class="uk-width-7-10">
                                        <input required type="text" maxlength="26" class="form-control" id="cardholder-name" [(ngModel)]="item.card.cardholder">
                                    </div>
                                </div>
                                <div class="uk-flex uk-grid uk-grid-small">

                                    <div class="uk-width-3-10">
                                        <label for="valid-thru_month">
                                            {{ ml.validThru | ml }}
                                        </label>
                                    </div>

                                    <div class="uk-width-4-10 valid-thru">
                                        <div class="valid-thru_month">
                                            <select required id="valid-thru_month" data-control="selectpicker" class="selectpicker form-control fit-width" [(ngModel)]="item.card.validMonth">
                                                <option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
                                            </select>
                                       </div>
                                        <div class="valid-thru_year">
                                            <select required name="" id="valid-thru_year" data-control="selectpicker" class="selectpicker form-control fit-width" [(ngModel)]="item.card.validYear">
                                                <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="uk-width-3-10 uk-text-right">
                                        <label for="cvv" class="cvv-label">
                                            {{ ml.cvv | ml }}
                                        </label>
                                        <input type="text" max="3" size="3" required class="form-control" id="cvv" [(ngModel)]="item.card.cvv" autocomplete="off">
                                    </div>

                                </div>
                            </div>
                        </div>

                            <div class="payment-system_container" id="payment-system_card" [class.hide]="item.paymentType.id === 'card'">
                                {{ ml.youHaveChosen | ml }} {{ item.paymentType.title | ml }}. {{ ml.nextSteps | ml }}
                            </div>
                        </div>
                    </section>

                    <div class="payment-details_submit">
                        <button type="submit" class="btn btn-danger btn-lg" (click)="submit(); $event.stopPropagation()">
                            {{ ml.submitPayment | ml }}
                        </button>


                    </div>

                </div>
            </div>
            <div class="uk-width-medium-3-10">

                <aside class="order-details widget trip-details" id="order-details" *ngIf="item.trip">
                    <header class="widget_header">
                        {{ ml.orderDetails | ml }}
                    </header>

					<div class="order-trip_container">
						<div class="order-trip order-trip-outward">
							 <i class="ico ico_boat"></i>
							  <b>{{ item.trip.pointA.title | ml }} <span class="rarr">&rarr;</span><span class="larr">&larr;</span> {{ item.trip.pointB.title | ml }}</b> {{ valid | ml }} <b>{{ item.departureDate | date: 'dd.MM.yyyy'}}</b>
						</div>
						<div class="order-trip order-trip-outward" *ngIf="item.trip.type.id === 'twoway'">
							 <i class="ico ico_boat"></i>
							  <b>{{ item.trip.pointB.title | ml }} <span class="rarr">&rarr;</span><span class="larr">&larr;</span> {{ item.trip.pointA.title | ml }}</b> {{ valid | ml }} <b>{{ item.returnDate | date: 'dd.MM.yyyy'}}</b>
						</div>
						<div *ngIf="item.price" class="order-trip_details">
							<div class="order-trip_detail" *ngFor="let age of item.ages">
								<div class="lbl">
									<span *ngIf="age >= 8">{{ ml.adult | ml }}</span>
									<span *ngIf="(age < 3)">{{ age }}&nbsp;{{ ml.year | ml }}</span>
									<span *ngIf="(age >=3) && (age < 8)">{{ age }}&nbsp;{{ ml.years | ml }}</span>
								</div>
								<div class="val">{{ (item.price && item.price.getCost(age) || 0) | currency:exchangeRate | number:'1.2-2' }} <span class="currency">{{currency}}</span></div>
							</div>
							<div class="order-trip_detail" *ngIf="item.vehicle">
								<div class="lbl">{{ item.vehicle.title | ml }}</div>
								<div class="val">{{ (item.price && item.price.getCost(item.vehicle)) | currency:exchangeRate | number:'1.2-2' }} <span class="currency">{{currency}}</span></div>
							</div>
                        </div>
					</div>

                    <div class="order-details_summary">
                        <div class="order-details_summary_line">
                            <div class="lbl">{{ ml.ticketsPrice | ml }}</div>
                            <div class="val">{{ item.cost | currency:exchangeRate | number:'1.2-2' }} <span class="currency">{{currency}}</span></div>
                        </div>
                    </div>

                    <div class="order-details_summary">
                        <div class="order-details_summary_line">
                            <div class="lbl">{{ ml.processingFee | ml }}</div>
                            <div class="val">{{ item.processingFee | currency:exchangeRate | number:'1.2-2' }} <span class="currency">{{currency}}</span></div>
                        </div>
                    </div>

                    <footer class="widget_footer">
                        <div class="order-details_total">
                            <div class="lbl">{{ ml.total | ml }}</div>
                            <div class="val">{{ item.totalCost | currency:exchangeRate | number:'1.2-2' }} <span class="currency">{{currency}}</span></div>
                        </div>
                        <div class="order-details_total" *ngIf="currency !== 'JOD'">
                            <div class="lbl approx-label-small">{{ ml.approx | ml }}</div>
                            <div class="val">{{ item.totalCost | number:'1.2-2' }} <span class="currency">{{ ml.JOD | ml }}</span></div>
                        </div>
						<div class="order-details_total">
							<div class="chargeNote">{{ ml.chargeNote | ml }}</div>
						</div>
                    </footer>
                </aside>

            </div>
        </div>
    </div>
    <div id="sticky-boundary"></div>

    <div id="orderSuccess" [class.hidden]=" !submitted ">

        <div class="container">
            <h1>{{ ml.orderConfirmHeader | ml }}</h1>
            {{ ml.orderConfirm | ml }} <strong>{{item.hrid}}</strong>
        </div>

    </div>
</div>
