<div class="main-content" role="content">
    <div class="container">
        <div class="row" style="position:relative;">
            <div class="col-md-9">

                <h1>Ticket reservation</h1>
                <a href="/" class="btn btn-primary btn-ghost btn-left">New search</a>
                <p>Some text describing important info. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ex ercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <!-- <p> DEBUG: {{ order | json }}</p> -->

                <div class="order-form" id="order-form">

                    <div *ngFor="let human of order.people; let i = index;" class="passenger-info">
                        <header class="passenger-info_header">
                            <span class="h3">Passenger {{ i + 1 }}</span>
                            <span class="styled-radio primary-contact-radio">
                                <input name="primary_contact" class="radio" type="radio" id="pc_1" value="Passenger 1"><label for="pc_1">Primary contact</label>
                            </span>
                            <a class="passenger-info_delete" (click)="deleteHuman(human); $event.stopPropagation()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </header>

                        <order-human [(human)]="order.people[i]"></order-human>
                    </div>

                    <div class="text-right">
                        <button class="btn btn-primary btn-ghost" (click)="addHuman(); $event.stopPropagation()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add passenger
                        </button>
                    </div>


                    <hr>

                    <section class="payment-details">

                        <h3>Enter your payment details</h3>

                        <div class="payment-details_methods">
							<span class="payment-details_method">
								<span class="styled-radio">
									<input id="payment-type-card" name="payment-type" class="radio" type="radio" [checked]="order.paymentType === 'card'" (click)="order.paymentType = 'card'">
									<label for="payment-type-card">Visa/Mastercard</label>
								</span>
							</span>
							<span class="payment-details_method">
								<span class="styled-radio">
									<input id="payment-type-bank" name="payment-type" class="radio" type="radio" [checked]="order.paymentType === 'bank'" (click)="order.paymentType = 'bank'">
									<label for="payment-type-bank">Bank transfer</label>
								</span>
							</span>
							<span class="payment-details_method">
								<span class="styled-radio">
									<input id="payment-type-wu" name="payment-type" class="radio" type="radio" [checked]="order.paymentType === 'wu'" (click)="order.paymentType = 'wu'">
									<label for="payment-type-wu">Western Union</label>
								</span>
							</span>
						</div>

                        <div class="payment-system_container" id="payment-system_card" [class.hide]="order.paymentType !== 'card'">
                            <div class="payment-system_card">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label>
                                            CARD NUMBER
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="card-number" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label for="cardholder-name">
                                            CARDHOLDER NAME
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="cardholder-name" [(ngModel)]="order.paymentCard.cardholder">
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-3">
                                        <label for="cardholder-name">
                                            VALID THRU
                                        </label>
                                    </div>
                                    <div class="col-md-5 valid-thru">
                                        <div class="valid-thru_month">
                                            <select  id="valid-thru_month" data-control="selectpicker" class="selectpicker form-control fit-width" [(ngModel)]="order.paymentCard.validMonth">
                                                <option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
                                            </select>
                                       </div>
                                        <div class="valid-thru_year">
                                            <select name="" id="valid-thru_year" data-control="selectpicker" class="selectpicker form-control fit-width" [(ngModel)]="order.paymentCard.validYear">
                                                <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="cvv" class="cvv-label">
                                            CVV
                                        </label>
                                        <input type="text" class="form-control" id="cvv" [(ngModel)]="order.paymentCard.cvv">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="payment-system_container" id="payment-system_card" [class.hide]="order.paymentType === 'card'">
                            You have chosen (payment system name). We will contact you as soon as possible and inform you on next steps.
                        </div>

                    </section>

                    <div class="payment-details_submit">
                        <button type="submit" class="btn btn-danger btn-lg" (click)="submit(); $event.stopPropagation()">
                            Submit Payment
                        </button>


                    </div>

                </div>
            </div>
            <div class="col-md-3">

                <aside class="order-details widget trip-details" data-uk-sticky id="order-details">
                    <header class="widget_header">
                        Order details
                    </header>

                    <div *ngFor="let shift of order.shifts" class="order-trip_container">
                        <div class="order-trip order-trip-outward">
                            <i class="ico ico_boat"></i>
                            <b>{{ shift.trip.pointA.title }} &rarr; {{ shift.trip.pointB.title }}</b> valid <b>{{ shift.date | date: 'dd.MM.yyyy'}}</b>
                        </div>

                        <div *ngIf="shift.price" class="order-trip_details">
                            <div class="order-trip_detail" *ngIf="getAdultsCount(shift.date)">
                                <div class="lbl">Adults</div>
                                <div class="val">{{ getAdultsCount(shift.date) }}&nbsp;x&nbsp;{{ shift.price.adults | currency:'USD':true:'1.2-2' }}</div>
                            </div>
                            <div class="order-trip_detail" *ngIf="getKidsCount(shift.date)">
                                <div class="lbl">2-6yr</div>
                                <div class="val">{{ getKidsCount(shift.date) }}&nbsp;x&nbsp;{{ shift.price.kids | currency:'USD':true:'1.2-2'  }}</div>
                            </div>
                            <div class="order-trip_detail" *ngIf="getInfantsCount(shift.date)">
                                <div class="lbl">&lt;2yr</div>
                                <div class="val">{{ getInfantsCount(shift.date) }}&nbsp;x&nbsp;{{ shift.price.infants | currency:'USD':true:'1.2-2' }}</div>
                            </div>
                           <!--  <div class="order-trip_detail">
                                <div class="lbl">Vehicle (car)</div>
                                <div class="val">$20</div>
                            </div> -->
                        </div>
                    </div>


                    <div class="order-details_summary">
                        <div class="order-details_summary_line">
                            <div class="lbl">Tickets price</div>
                            <div class="val">{{ ticketsCost | currency:'USD':true:'1.2-2' }}</div>
                        </div>
                    </div>

                    <footer class="widget_footer">
                        <div class="order-details_total">
                            <div class="lbl">Total</div>
                            <div class="val">{{ totalCost | currency:'USD':true:'1.2-2' }}</div>
                        </div>
                    </footer>
                </aside>

            </div>
        </div>
    </div>

</div>
