<div class="uk-grid">
	<div class="uk-width-3-4 uk-margin-bottom">
		<h2>Trip <span *ngIf="item">&laquo;{{ item.title | ml:'en' }}&raquo;</span></h2>
	</div>
	<div class="uk-width-1-4 uk-margin-bottom">
		<button class="uk-button uk-button-primary uk-align-right" (click)="back()"><i class="uk-icon-arrow-left"></i>&emsp;Back</button>
	</div>
	<div class="uk-width-1-1 uk-form uk-form-stacked uk-grid">
		<div class="uk-width-1-1">
			<label class="uk-button admin-button" [class.uk-active]="item.enable">
				<span>Enable</span>
				<input class="uk-hidden" type="checkbox" [(ngModel)]="item.enable">
			</label>
			<div class="uk-button-group uk-margin-left">
				<button *ngFor="let type of types" class="uk-button admin-button" [class.uk-active]="item.type === type" (click)="item.type = type; $event.preventDefault()"><i [class]="type.icon"></i>&nbsp;{{ type.title | ml:'en' }}</button>
			</div>
		</div>

		<label class="uk-width-1-1 uk-margin-top uk-form-label">Description</label>
		<div class="uk-width-1-1">
			<mlinput [(value)]="item.description"></mlinput>
		</div>

		<div class="uk-width-4-10">
			<label class="uk-width-1-1 uk-margin-top uk-form-label">Start Point</label>
			<div class="uk-width-1-1 uk-form-controls">
				<select class="uk-width-1-1" [(ngModel)]="item.pointA">
					<option *ngFor="let point of points | listOrderBy : ['title']" [ngValue]="point">{{ point.title | ml:'en' }}</option>
				</select>
			</div>
		</div>
		<div class="uk-width-2-10">
			<label class="uk-width-1-1 uk-margin-top uk-form-label">&emsp;</label>
			<div class="uk-width-1-1 uk-form-controls uk-text-center">
				<i [class]="'uk-icon-medium ' + item.type.icon"></i>
			</div>
		</div>
		<div class="uk-width-4-10">
			<label class="uk-width-1-1 uk-margin-top uk-form-label">End Point</label>
			<div class="uk-width-1-1 uk-form-controls">
				<select class="uk-width-1-1" [(ngModel)]="item.pointB">
					<option *ngFor="let point of points | listOrderBy : ['title']" [ngValue]="point">{{ point.title | ml:'en' }}</option>
				</select>
			</div>
		</div>

		<div class="uk-width-6-10">
			<label class="uk-width-1-1 uk-margin-top uk-form-label">Departure time</label>
			<div class="uk-width-1-1 uk-form-controls">
				<input #departureTimeNode type="time" [value]="item.departureTime | date:'HH:mm'">
			</div>
		</div>

		<div class="uk-width-4-10" [class.uk-hidden]="item.type.id === 'oneway'">
			<label class="uk-width-1-1 uk-margin-top uk-form-label">Return time</label>
			<div class="uk-width-1-1 uk-form-controls">
				<input #returnTimeNode type="time" [value]="item.returnTime | date:'HH:mm'">
			</div>
		</div>

		<div class="uk-width-1-1 uk-margin-top">
			<h3 class="tm-article-subtitle">Trip page content</h3>
			<mleditor [(value)]="item.content"></mleditor>
		</div>

		<div class="uk-width-1-1 uk-grid uk-margin-top">
			<div class="uk-width-8-10">
				<h3 class="tm-article-subtitle">Prices</h3>
			</div>
			<div class="uk-width-2-10">
				<a class="uk-align-right admin-cursor-pointer" (click)="addPrice(); $event.stopPropagation()">
					<i class="uk-icon uk-icon-plus-circle uk-margin-small-right"></i>
					<u>Add price</u>
				</a>
			</div>
		</div>
		<div class="uk-width-1-1 uk-margin-top">
			<div  *ngFor="let price of item.prices; let i = index;" class="uk-panel uk-panel-box uk-width-1-1">
				<div class="uk-panel-badge uk-badge uk-badge-danger admin-cursor-pointer" (click)="deletePrice(price); $event.stopPropagation()"><i class="uk-icon-trash"></i></div>
				<h3 class="uk-panel-title">Price from {{ price.startDate | date: 'dd.MM.yyyy' }} to {{ price.endDate | date: 'dd.MM.yyyy' }}</h3>
				<price [(price)]="item.prices[i]"></price>
			</div>
		</div>

		<div class="uk-width-1-1 uk-margin-top">
			<button type="submit" class="uk-button uk-button-success uk-align-right" [disabled]="!valid" (click)="submit()"><i class="uk-icon-floppy-o"></i>&emsp;Submit</button>
		</div>

		<div class="uk-width-1-1 uk-margin-top">
			<p>DEBUG: {{ item | json }}</p>
		</div>
	</div>
</div>
