<div class="uk-grid">
	<div class="uk-width-3-4 uk-margin-bottom">
		<h2>Trip <span *ngIf="item">&laquo;{{ item.title }}&raquo;</span></h2>
	</div>
	<div class="uk-width-1-4 uk-margin-bottom">
		<button class="uk-button uk-button-primary uk-align-right" (click)="back()"><i class="uk-icon-arrow-left"></i>&emsp;Back</button>
	</div>
	<div class="uk-width-1-1 uk-form uk-form-stacked uk-grid">
		<div class="uk-width-1-1">
			<label class="uk-button admin-button" [class.uk-active]="item.enable">
				<span>Enable</span>
				<input class="uk-hidden" type="checkbox" [(ngModel)]="item.enable">
			</label>
		</div>

		<label class="uk-width-1-1 uk-margin-top uk-form-label">Title</label>
		<div class="uk-width-1-1 uk-form-controls">
			<input class="uk-width-1-1" type="text" placeholder="Trip title" [(ngModel)]="item.title">
		</div>

		<label class="uk-width-1-1 uk-margin-top uk-form-label">Short description</label>
		<div class="uk-width-1-1 uk-form-controls">
			<input class="uk-width-1-1" type="text" placeholder="Trip description" [(ngModel)]="item.description">
		</div>

		<div class="uk-width-4-10">
			<label class="uk-width-1-1 uk-margin-top uk-form-label">Start Point</label>
			<div class="uk-width-1-1 uk-form-controls">
				<select class="uk-width-1-1" [(ngModel)]="item.pointA">
					<option *ngFor="let point of points | listOrderBy : ['title']" [ngValue]="point">{{ point.title }}</option>
				</select>
			</div>
		</div>
		<div class="uk-width-2-10">
			<label class="uk-width-1-1 uk-margin-top uk-form-label">&emsp;</label>
			<div class="uk-width-1-1 uk-form-controls uk-text-center">
				<i class="uk-icon-medium uk-icon-arrow-right"></i>
			</div>
		</div>
		<div class="uk-width-4-10">
			<label class="uk-width-1-1 uk-margin-top uk-form-label">End Point</label>
			<div class="uk-width-1-1 uk-form-controls">
				<select class="uk-width-1-1" [(ngModel)]="item.pointB">
					<option *ngFor="let point of points | listOrderBy : ['title']" [ngValue]="point">{{ point.title }}</option>
				</select>
			</div>
		</div>

		<price-list class="uk-width-1-1 uk-margin-top" [(items)]="item.prices"></price-list>

		<div class="uk-width-1-1 uk-margin-top">
			<button type="submit" class="uk-button uk-button-success uk-align-right" [disabled]="!valid" (click)="submit()"><i class="uk-icon-floppy-o"></i>&emsp;Submit</button>
		</div>

		<!-- <div class="uk-width-1-1 uk-margin-top">
			<p>Form value: {{ item | json }}</p>
		</div> -->
	</div>
</div>
