[Service]
ExecStart=/usr/bin/node /arabtravel/core/master.js
WorkingDirectory=/arabtravel
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-arabtravel-backend
Environment=NODE_ENV=production
Environment=PID_FILE=/var/run/node-arabtravel-backend.pid
Environment=WORKER_ENGINE=backend
Environment=WORKER_PORT=8102
Environment=WORKER_COUNT=3

[Install]
WantedBy=multi-user.target
