<div class="uk-grid">
	<div class="uk-width-3-5 uk-margin-bottom">
		<h3>Orders list</h3>
	</div>
	<div class="uk-width-1-5">
		<button class="uk-button uk-button-primary uk-width-1-1" type="button" (click)="add('package')">Add package order</button>
	</div>
	<div class="uk-width-1-5">
		<button class="uk-button uk-button-primary uk-width-1-1" type="button" (click)="add('trip')">Add trip order</button>
	</div>
	<div class="uk-form uk-width-1-1">
		<input #filterInput (keyup)="0" class="uk-width-1-1" type="text" placeholder="Search...">
	</div>
	<div class="uk-width-1-1 uk-margin-top">
		<table class="uk-table uk-table-hover uk-table-condensed">
			<thead>
				<tr>
					<th>Enable</th>
					<th>Type</th>
					<th>ID</th>
					<th>Date</th>
					<th>User</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of items | listFilter : filterInput.value : ['title'] | listOrderBy : ['!date', 'package']" (click)="select(item)" class="admin-cursor-pointer">
					<td class="uk-form" (click)="enable(item); $event.stopPropagation()">
						<i class="uk-icon-square-o" [class.uk-hidden]="item.enable"></i>
						<i class="uk-icon-check-square-o" [class.uk-hidden]="!item.enable"></i>
					</td>
					<td class="uk-text-center"><i [class]="item.type.icon"></i></td>
					<td>{{ item.hrid || '' }}</td>
					<td>{{ item.date | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
					<td>{{ item.owner && item.owner.title }}</td>
					<td (click)="delete(item); $event.stopPropagation()"><i class="uk-icon-trash-o"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
