<div class="uk-width-1-1 uk-margin-top">
	<h3 class="tm-article-subtitle">Package data</h3>
</div>
<div class="uk-width-1-1 uk-margin-top">
	<div class="uk-panel uk-panel-box uk-width-1-1">
		<div class="uk-grid">
			<div class="uk-width-1-6">
				<label class="uk-form-label uk-width-1-1">Departure date</label>
				<div class="uk-form-controls">
					<input #departureDateNode class="uk-width-1-1" type="text" [value]="item.departureDate | date: 'dd.MM.yyyy'">
				</div>
			</div>
			<div class="uk-width-3-6">
				<label class="uk-form-label uk-width-1-1">Package</label>
				<select [(ngModel)]="item.package" (change)="packageChange()">
					<option [ngValue]="null">None</option>
					<option *ngIf="item.package" [ngValue]="item.package">{{ item.package.title | ml:'en' }} (Current)</option>
					<option *ngFor="let package of packages" [ngValue]="package">{{ package.title | ml:'en' }}</option>
				</select>
			</div>
			<div class="uk-width-1-6">
				<label class="uk-form-label uk-width-1-1">Duration</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" type="number" min="1" [(ngModel)]="item.duration">
				</div>
			</div>
			<div class="uk-width-1-6">
				<label class="uk-form-label uk-width-1-1">Return date</label>
				<div class="uk-form-controls">{{ item.returnDate | date: 'dd.MM.yyyy' }}</div>
			</div>
			<!-- <div class="uk-width-1-2 uk-margin-top" *ngIf="item.package && item.package.hotel">
				<b>Hotel:</b>
				<span>{{ item.package.hotel.title | ml:'en' }}</span>
			</div> -->
			<!-- <div class="uk-width-1-2 uk-margin-top" *ngIf="item.package && item.package.hotel">
				<b>Room:</b>
				<select name="type" [(ngModel)]="item.room">
					<option [ngValue]="null">None</option>
					<option *ngIf="item.room" [ngValue]="item.room">{{ item.room.title | ml:'en' }} (Current)</option>
					<option *ngFor="let roomItem of item.package.hotel.rooms" [ngValue]="roomItem">{{ roomItem.title | ml:'en' }}</option>
				</select>
				<div class="uk-width-1-1 uk-margin-top" *ngIf="item.room">

				</div>
			</div> -->
			<div class="uk-width-1-1 admin-hidde-cild" *ngIf="item.price">
				<price [(price)]="item.price" [hideVehicle]="true"></price>
			</div>
		</div>
	</div>
</div>

<div class="uk-width-1-1 uk-grid uk-margin-top" *ngIf="item.package && item.package.hotel">
	<div class="uk-width-8-10">
		<h3 class="tm-article-subtitle">{{ item.package.hotel.title | ml:'en' }}, rooms</h3>
	</div>
	<div class="uk-width-2-10">
		<a class="uk-align-right admin-cursor-pointer" (click)="addRoom(); $event.stopPropagation()">
			<i class="uk-icon uk-icon-plus-circle uk-margin-small-right"></i>
			<u>Add room</u>
		</a>
	</div>
</div>

<div class="uk-width-1-1 uk-margin-top">
	<div  *ngFor="let peopleInRoom of item.peopleInRoom;" class="uk-panel uk-panel-box uk-width-1-1">
		<div class="uk-panel-badge uk-badge uk-badge-danger admin-cursor-pointer" (click)="deleteRoom(peopleInRoom); $event.stopPropagation()"><i class="uk-icon-trash"></i></div>
		<div class="uk-panel-title">
			<select name="type" [(ngModel)]="peopleInRoom.room">
				<option *ngIf="peopleInRoom.room" [ngValue]="peopleInRoom.room">{{ peopleInRoom.room.title | ml:'en' }} (Current)</option>
				<option *ngFor="let roomItem of item.package.hotel.rooms" [ngValue]="roomItem">{{ roomItem.title | ml:'en' }}</option>
			</select>
		</div>
		<div class="uk-grid">
			<div class="uk-width-1-1">
				<h4 class="tm-article-subtitle">Room price</h4>
				<hotel-price [(room)]="peopleInRoom.room"></hotel-price>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<h4 class="tm-article-subtitle">Peoples</h4>

			</div>
		</div>
	</div>
</div>


<div class="uk-width-1-1 uk-margin-top">
	<h3 class="tm-article-subtitle">Calculation</h3>
</div>
<div class="uk-width-1-1 uk-margin-top">
	<table class="uk-table uk-table-hover uk-table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>Type</th>
				<th>Content</th>
				<th>Cost, JD</th>
				<th>Sum, JD</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngIf="item.package">
				<td></td>
				<td>Trip</td>
				<td>
					<div>
						<span>{{ item.departureDate | date: 'dd.MM.yyyy'}}</span>
						<span *ngIf="item.package && item.package.pointA">&emsp;{{ item.package.pointA.title | ml:'en' }}</span>
						<span *ngIf="item.package && item.package.pointB">&ensp;&rarr;&ensp;{{ item.package.pointB.title | ml:'en' }}</span>
					</div>
					<div>
						<span>{{ item.returnDate | date: 'dd.MM.yyyy'}}</span>
						<span *ngIf="item.package && item.package.pointB">&emsp;{{ item.package.pointB.title | ml:'en' }}</span>
						<span *ngIf="item.package && item.package.pointA">&ensp;&rarr;&ensp;{{ item.package.pointA.title | ml:'en' }}</span>
					</div>
				</td>
				<td>
					<div *ngFor="let age of item.ages">
						<span *ngIf="age >= 200">Adult</span>
						<span *ngIf="age < 200">{{ age }}&nbsp;yo</span>
						<span>&nbsp;&times;&nbsp;{{ (item.price && item.price.getCost(age) || 0) | number:'1.2-2' }}</span>
					</div>
				</td>
				<td>{{ item.roadCost | number:'1.2-2' }}</td>
			</tr>
			<tr *ngIf="item.package && item.package.hotel">
				<td></td>
				<td>Hotel</td>
				<td>
					<span>{{ item.package.hotel.title | ml:'en' }}</span>
					<span *ngIf="item.package.room">,&emsp;{{ item.package.room.title | ml:'en' }}</span>
					<span>,&emsp; {{ item.duration }} nights</span>
				</td>
				<td>
					<!-- <div *ngIf="item.room">
						<div>
							<span>Room</span>
							<span class="uk-margin-small-left">{{ item.package.duration }}&nbsp;x&nbsp;{{ item.room.cost | number:'1.2-2' }}</span>
						</div>
						<div *ngFor="let option of item.room.enabledOptions">
							<span>{{ option.title }}</span>
							<span class="uk-margin-small-left">{{ item.package.duration }}&nbsp;x&nbsp;{{ option.cost | number:'1.2-2' }}</span>
						</div>
					</div> -->

				</td>
				<td>{{ item.hotelCost | number:'1.2-2' }}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4" class="uk-text-right"><b>Full sum, JD:</b></td>
				<td><b>{{ item.cost | number:'1.2-2' }}</b></td>
			</tr>
			<tr>
				<td colspan="4" class="uk-text-right"><b>Processing fee, JD:</b></td>
				<td><b>{{ item.processingFee | number:'1.2-2' }}</b></td>
			</tr>
			<tr>
				<td colspan="4" class="uk-text-right"><b>Total cost, JD:</b></td>
				<td><b>{{ item.totalCost | number:'1.2-2' }}</b></td>
			</tr>
			<tr>
				<td colspan="4" class="uk-text-right"><b>Total cost, $:</b></td>
				<td><b>{{ (item.totalCost * item.exchangeRate) | number:'1.2-2' }}</b></td>
			</tr>
		</tfoot>
	</table>
</div>
