<div class="uk-grid">
	<div class="uk-width-3-4 uk-margin-bottom">
		<h2>Order <span *ngIf="item">&laquo;{{ item.title }}&raquo;</span></h2>
	</div>
	<div class="uk-width-1-4 uk-margin-bottom">
		<button class="uk-button uk-button-primary uk-align-right" (click)="back()"><i class="uk-icon-arrow-left"></i>&emsp;Back</button>
	</div>
	<div class="uk-width-1-1 uk-form uk-form-stacked">
		<div class="uk-grid">
			<div class="uk-width-1-1 uk-form-controls">
				<label class="uk-button admin-button" [class.uk-active]="item.enable">
					<span>Enable</span>
					<input  class="uk-hidden" type="checkbox" [(ngModel)]="item.enable">
				</label>
				<label class="uk-button admin-button uk-margin-left" [class.uk-active]="item.package">
					<span>Package</span>
					<input class="uk-hidden" type="checkbox" [(ngModel)]="item.package">
				</label>
				<select class="uk-margin-left" name="type" [(ngModel)]="item.status">
					<option *ngFor="let statusItem of statusList" [ngValue]="statusItem">{{ statusItem.title }}</option>
				</select>
			</div>
			<div class="uk-width-7-10">
				<div class="uk-width-1-1 uk-margin-top">
					<label class="uk-form-label uk-width-1-1">Title</label>
					<div class="uk-form-controls">
						<input class="uk-width-1-1" type="text" placeholder="Order title" [(ngModel)]="item.title">
					</div>
				</div>
			</div>
			<div class="uk-width-3-10 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">Date, time</label>
				<div class="uk-form-controls">{{item.date | date: 'dd.MM.yyyy HH:mm:ss' }}</div>
			</div>
			<div class="uk-width-7-10 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">Description</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" type="text" placeholder="Order description" [(ngModel)]="item.description">
				</div>
			</div>
			<div class="uk-width-3-10 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">User</label>
				<div class="uk-form-controls" *ngIf="item.owner">
					<a [attr.href]="'/users/' + item.owner.id"  target="_blank">{{item.owner.title}}</a>
				</div>
			</div>

			<div class="uk-width-1-1 uk-grid uk-margin-top">
				<div class="uk-width-1-10">
					<h3 class="tm-article-subtitle">Payment</h3>
				</div>
				<div class="uk-width-9-10 uk-form-controls">
					<select name="type" [(ngModel)]="item.paymentType">
						<option *ngFor="let paymentTypeItem of paymentTypeList" [ngValue]="paymentTypeItem">{{ paymentTypeItem.title }}</option>
					</select>
				</div>
			</div>

			<div class="uk-width-1-1  uk-grid uk-margin-top" [class.uk-hidden]="item.paymentType.id !== 'card'">
				<div class="uk-width-2-10">
					<label class="uk-form-label uk-width-1-1">Card number</label>
					<div class="uk-form-controls">
						<input class="uk-width-1-1" type="text" placeholder="Card number" [(ngModel)]="item.card.number">
					</div>
				</div>
				<div class="uk-width-3-10">
					<label class="uk-form-label uk-width-1-1">Cardholder</label>
					<div class="uk-form-controls">
						<input class="uk-width-1-1" type="text" placeholder="Cardholder" [(ngModel)]="item.card.cardholder">
					</div>
				</div>
				<div class="uk-width-2-10">
					<label class="uk-form-label uk-width-1-1">Month/Year</label>
					<div class="uk-form-controls">
						<select [(ngModel)]="item.card.validMonth">
							<option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
						</select>
						<select [(ngModel)]="item.card.validYear">
							<option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
						</select>
					</div>
				</div>
				<div class="uk-width-1-10">
					<label class="uk-form-label uk-width-1-1">CVV</label>
					<div class="uk-form-controls">
						<input class="uk-width-1-1" type="number" min="100" max="999" placeholder="CVV" [(ngModel)]="item.card.cvv">
					</div>
				</div>
			</div>

			<div class="uk-width-1-1 uk-grid uk-margin-top">
				<div class="uk-width-8-10">
					<h3 class="tm-article-subtitle">Passengers</h3>
				</div>
				<div class="uk-width-2-10">
					<a class="uk-align-right admin-cursor-pointer" (click)="addHuman(); $event.stopPropagation()">
						<i class="uk-icon uk-icon-plus-circle uk-margin-small-right"></i>
						<u>Add passenger</u>
					</a>
				</div>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<div  *ngFor="let human of item.people; let i = index;" class="uk-panel uk-panel-box uk-width-1-1">
					<div class="uk-panel-badge uk-badge uk-badge-danger admin-cursor-pointer" (click)="deleteHuman(human); $event.stopPropagation()"><i class="uk-icon-trash"></i></div>
					<h3 class="uk-panel-title">Passenger #{{ i + 1 }}</h3>
					<order-human [(human)]="item.people[i]"></order-human>
				</div>
			</div>

			<div class="uk-width-1-1 uk-grid uk-margin-top">
				<div class="uk-width-8-10">
					<h3 class="tm-article-subtitle">Shifts</h3>
				</div>
				<div class="uk-width-2-10">
					<a class="uk-align-right admin-cursor-pointer" (click)="addShift(); $event.stopPropagation()">
						<i class="uk-icon uk-icon-plus-circle uk-margin-small-right"></i>
						<u>Add shift</u>
					</a>
				</div>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<div  *ngFor="let shift of item.shifts; let i = index;" class="uk-panel uk-panel-box uk-width-1-1">
					<div class="uk-panel-badge uk-badge uk-badge-danger admin-cursor-pointer" (click)="deleteShift(shift); $event.stopPropagation()"><i class="uk-icon-trash"></i></div>
					<h3 class="uk-panel-title">
						<span>{{ shift.date | date: 'dd.MM.yyyy' }},&nbsp;</span>
						<span *ngIf="shift.trip && shift.trip.pointA">{{ shift.trip.pointA.title }}</span>
						<span *ngIf="shift.trip && shift.trip.pointB">&nbsp;&rarr;&nbsp;{{ shift.trip.pointB.title }}</span>
					</h3>
					<order-shift [(shift)]="item.shifts[i]"></order-shift>
				</div>
			</div>

			<div class="uk-width-1-1 uk-grid uk-margin-top" [class.uk-hidden]="!item.package">
				<div class="uk-width-1-1">
					<h3 class="tm-article-subtitle">Hotel data</h3>
				</div>
				<div class="uk-width-1-2">
					<div class="uk-button uk-margin-left uk-form-select" data-uk-form-select>
						<span>Hotel</span>
						<i class="uk-icon-caret-down"></i>
						<select name="type" [(ngModel)]="item.hotel" (change)="hotelChange();">
							<option *ngIf="item.hotel" [ngValue]="item.hotel">{{ item.hotel.title }}</option>
							<option *ngFor="let hotelItem of hotels" [ngValue]="hotelItem">{{ hotelItem.title }}</option>
						</select>
					</div>
				</div>
				<div class="uk-width-1-2" *ngIf="item.hotel">
					<div class="uk-button uk-margin-left uk-form-select" data-uk-form-select>
						<span>Room</span>
						<i class="uk-icon-caret-down"></i>
						<select name="type" [(ngModel)]="item.room">
							<option *ngIf="item.room" [ngValue]="item.room">{{ item.room.title }}</option>
							<option *ngFor="let roomItem of item.hotel.rooms" [ngValue]="roomItem">{{ roomItem.title }}</option>
						</select>
					</div>
				</div>
			</div>

			<!-- <div class="uk-width-1-1 uk-grid uk-margin-top">
				<div class="uk-width-8-10">
					<h3 class="tm-article-subtitle">Shifts</h3>
				</div>
				<div class="uk-width-2-10">
					<a class="admin-cursor-pointer" (click)="addShift(); $event.stopPropagation()">
						<i class="uk-icon uk-icon-plus-circle uk-margin-small-right"></i>
						<u>Add shift</u>
					</a>
				</div>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<div  *ngFor="let shift of item.shifts; let i = index;" class="uk-panel uk-panel-box uk-width-1-1">
					<div class="uk-panel-badge uk-badge uk-badge-danger admin-cursor-pointer" (click)="deleteShift(shift); $event.stopPropagation()"><i class="uk-icon-trash"></i></div>
					<h3 class="uk-panel-title"><span *ngIf="shift.trip">{{ shift.trip.pointA.title }} &rarr; {{ shift.trip.pointB.title }} valid <b>{{ shift.date | date: 'dd.MM.yyyy'}}</b></span></h3>
					<order-shift [(shift)]="item.shifts[i]"></order-shift>
				</div>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<div class="uk-width-1-1">
					<h3 class="tm-article-subtitle">Calculation</h3>
				</div>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<table class="uk-table uk-table-hover uk-table-condensed">
					<thead>
						<tr>
							<th>Date</th>
							<th>A &rarr; B</th>
							<th>Cost</th>
							<th>Sum</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let shift of item.shifts">
							<td>{{ shift.date | date: 'dd.MM.yyyy'}}</td>
							<td><span *ngIf="shift.trip">{{ shift.trip.pointA.title }} &rarr; {{ shift.trip.pointB.title }}</span></td>
							<td>
								<div *ngIf="getAdultsCount(shift.date)" class="uk-width-1-1">
									<span>Adults</span><span class="uk-margin-small-left">{{ getAdultsCount(shift.date) }}&nbsp;x&nbsp;{{ shift.price.adults | currency:'USD':true:'1.2-2' }}</span>
								</div>
								<div *ngIf="getKidsCount(shift.date)" class="uk-width-1-1">
									<span>2-6yr</span><span class="uk-margin-small-left">{{ getKidsCount(shift.date) }}&nbsp;x&nbsp;{{ shift.price.kids | currency:'USD':true:'1.2-2' }}</span>
								</div>
								<div *ngIf="getInfantsCount(shift.date)" class="uk-width-1-1">
									<span>&lt;2yr</span><span class="uk-margin-small-left">{{ getInfantsCount(shift.date) }}&nbsp;x&nbsp;{{ shift.price.infants | currency:'USD':true:'1.2-2' }}</span>
								</div>
							</td>
							<td>{{ ((getAdultsCount(shift.date) * shift.price.adults) + (getKidsCount(shift.date) * shift.price.kids) + (getInfantsCount(shift.date) * shift.price.infants)) | currency:'USD':true:'1.2-2' }}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3" class="uk-text-right"><b>Full sum</b></td>
							<td><b>{{totalCost | currency:'USD':true:'1.2-2' }}</b></td>
						</tr>
					</tfoot>
				</table>
			</div> -->

			<div class="uk-width-1-1 uk-margin-top">
				<button type="submit" class="uk-button uk-button-success uk-align-right" (click)="submit()"><i class="uk-icon-floppy-o"></i>&emsp;Submit</button>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<p>DEBUG: {{ item | json }}</p>
			</div>
		</div>
	</div>
</div>
