<div class="uk-grid">
	<div class="uk-width-1-6">
		<label class="uk-form-label uk-width-1-1">Date</label>
		<div class="uk-form-controls">
			<input #dateNode class="uk-width-1-1" type="text" [value]="item.date | date: 'dd.MM.yyyy'">
		</div>
	</div>
	<div class="uk-width-3-6">
		<label class="uk-form-label uk-width-1-1">Trip (A &rarr; B)</label>
		<select [(ngModel)]="item.trip" (change)="changeTrip()">
			<option [ngValue]="null">None</option>
			<option *ngIf="item.trip" [ngValue]="item.trip">{{ item.trip.fullTitle }} (Current)</option>
			<option *ngFor="let trip of trips" [ngValue]="trip">{{ trip.fullTitle }}</option>
		</select>
	</div>
	<div class="uk-width-2-6">
		<label class="uk-form-label uk-width-1-1">Vehicle</label>
		<select [(ngModel)]="item.vehicle">
			<option [ngValue]="null">None</option>
			<option *ngIf="item.vehicle" [ngValue]="item.vehicle">{{ item.vehicle.title }} (Current)</option>
			<option *ngFor="let vehicle of vehicles" [ngValue]="vehicle">{{ vehicle.title }}</option>
		</select>
	</div>
	<div class="uk-width-1-1 admin-hidde-cild" *ngIf="item.price">
		<trip-price [(price)]="item.price"></trip-price>
	</div>
</div>
