<div class="uk-grid">
	<div class="uk-width-3-4 uk-margin-bottom">
		<h2>Hotel <span *ngIf="item">&laquo;{{ item.title }}&raquo;</span></h2>
	</div>
	<div class="uk-width-1-4 uk-margin-bottom">
		<button class="uk-button uk-button-primary uk-align-right" (click)="back()"><i class="uk-icon-arrow-left"></i>&emsp;Back</button>
	</div>
	<form class="uk-width-1-1 uk-form uk-form-stacked" (ngSubmit)="submit()">
		<div class="uk-grid">
			<div class="uk-width-1-1">
				<label class="uk-button admin-button" [class.uk-active]="item.enable">
					<span>Enable</span>
					<input  class="uk-hidden" type="checkbox" name="enable" [(ngModel)]="item.enable">
				</label>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">Title</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" type="text" placeholder="Hotel title" name="title" [(ngModel)]="item.title">
				</div>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">Short description</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" type="text" placeholder="Hotel short description" name="description" [(ngModel)]="item.description">
				</div>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<button type="submit" class="uk-button uk-button-success uk-align-right" [disabled]="!valid"><i class="uk-icon-floppy-o"></i>&emsp;Submit</button>
			</div>
			<!-- <div class="uk-width-1-1 uk-margin-top">
				<p>Form value: {{ item | json }}</p>
			</div> -->
		</div>
	</form>
</div>
