<div class="uk-grid">
	<div class="uk-width-3-4 uk-margin-bottom">
		<h2>Hotel <span *ngIf="item">&laquo;{{ item.title | ml:'en' }}&raquo;</span></h2>
	</div>
	<div class="uk-width-1-4 uk-margin-bottom">
		<button class="uk-button uk-button-primary uk-align-right" (click)="back()"><i class="uk-icon-arrow-left"></i>&emsp;Back</button>
	</div>
	<div class="uk-width-1-1 uk-form uk-form-stacked">
		<div class="uk-grid">
			<div class="uk-width-1-1">
				<label class="uk-button admin-button" [class.uk-active]="item.enable">
					<span>Enable</span>
					<input  class="uk-hidden" type="checkbox" [(ngModel)]="item.enable">
				</label>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">Title</label>
				<div class="uk-width-1-1">
					<mlinput [(value)]="item.title"></mlinput>
				</div>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">Short description</label>
				<div class="uk-width-1-1">
					<mlinput [(value)]="item.description"></mlinput>
				</div>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<h3 class="tm-article-subtitle">Hotel page content</h3>
				<mleditor [(value)]="item.content"></mleditor>
			</div>
			<div class="uk-width-1-1 uk-grid uk-margin-top">
				<div class="uk-width-8-10">
					<h3 class="tm-article-subtitle">Rooms</h3>
				</div>
				<div class="uk-width-2-10">
					<a class="uk-align-right admin-cursor-pointer" (click)="addRoom(); $event.stopPropagation()">
						<i class="uk-icon uk-icon-plus-circle uk-margin-small-right"></i>
						<u>Add room</u>
					</a>
				</div>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<div  *ngFor="let room of item.rooms;" class="uk-panel uk-panel-box uk-width-1-1">
					<div class="uk-panel-badge uk-badge uk-badge-danger admin-cursor-pointer" (click)="deleteRoom(room); $event.stopPropagation()"><i class="uk-icon-trash"></i></div>
					<h3 class="uk-panel-title">Room &laquo;{{ room.title | ml:'en' }}&raquo;</h3>
					<div class="uk-grid">
						<div class="uk-width-7-10 uk-grid">
							<div class="uk-width-1-1 uk-margin-top">
								<label class="uk-form-label uk-width-1-1">Title</label>
								<mlinput [(value)]="room.title"></mlinput>
							</div>
						</div>
						<div class="uk-width-3-10">
							<label class="uk-form-label uk-width-1-1">Image<i class="uk-icon-times uk-align-right admin-cursor-pointer" (click)="room.image = null"></i></label>
							<div class="uk-form-file">
								<img class="uk-thumbnail admin-cursor-pointer" [src]="room.image && room.image.link || '/placeholder_200x100.svg'">
								<input type="file" accept="image/*" (change)="setRoomImage($event.target, room)">
							</div>
						</div>
						<div class="uk-width-1-1 uk-margin-top">
							<h4 class="tm-article-subtitle">Room price</h4>
							<div class="uk-width-1-1 uk-overflow-container">
								<table class="uk-table uk-table-condensed">
									<thead>
										<tr>
											<th *ngFor="let th of room.costs[0]; let i = index;">
												<span *ngIf="i === 0">Age</span>
												<span *ngIf="i > 0">{{i}}</span>
											</th>
											<th><i class="uk-icon-plus admin-cursor-pointer" (click)="addColumn(room); $event.stopPropagation()"></i></th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let tr of room.costs; let i = index;">
											<td *ngFor="let td of room.costs[i]; let j = index">
												<input class="uk-width-1-1" type="number" min="0" [(ngModel)]="room.costs[i][j]">
											</td>
											<td *ngIf="i > 0"><i class="uk-icon-minus admin-cursor-pointer" (click)="deleteRow(room, i); $event.stopPropagation()"></i></td>
										</tr>
										<tr>
											<td *ngFor="let td of room.costs[0]; let i = index;">
												<i *ngIf="i === 0" class="uk-icon-plus admin-cursor-pointer" (click)="addRow(room); $event.stopPropagation()"></i>
												<i *ngIf="i > 0" class="uk-icon-minus admin-cursor-pointer" (click)="deleteColumn(room, i); $event.stopPropagation()"></i>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="uk-width-1-1 uk-margin-top">
				<p>DEBUG: {{ room.costs | json }}</p>
			</div>
						<div class="uk-width-1-1 uk-margin-top">
							<h4 class="tm-article-subtitle">Room description</h4>
							<div class="uk-width-1-1">
								<mleditor [(value)]="room.content"></mleditor>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				<h3 class="tm-article-subtitle">Images</h3>
				<ul class="uk-thumbnav uk-grid-width-1-5">
					<li *ngFor="let image of item.images">
						<figure class="uk-overlay uk-overlay-hover">
							<img [src]="image.link">
							<figcaption class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
								<button class="uk-button uk-button-mini" (click)="deleteImage(image); $event.stopPropagation()"><i class="uk-icon uk-icon-remove"></i></button>
							</figcaption>
						</figure>
					</li>
					<li class="uk-form-file">
						<img class="uk-thumbnail admin-cursor-pointer" src="/placeholder_200x100.svg">
						<input type="file" accept="image/*" (change)="addImage($event.target)">
					</li>
				</ul>
			</div>

			<div class="uk-width-1-1 uk-margin-top">
				<button type="submit" class="uk-button uk-button-success uk-align-right" [disabled]="!valid" (click)="submit()"><i class="uk-icon-floppy-o"></i>&emsp;Submit</button>
			</div>
			<!-- <div class="uk-width-1-1 uk-margin-top">
				<p>DEBUG: {{ item | json }}</p>
			</div> -->
		</div>
	</div>
</div>
