<div class="uk-navbar admin-navbar">
	<div class="uk-container uk-container-center">
		<a class="uk-navbar-brand" routerLink="/" routerLinkActive="active">
			<img class="admin-navbar-logo" src="/logo.png" title="Arabtravel">
		</a>
		<ul class="uk-navbar-nav admin-navbar-nav">
			<li><a routerLink="/common" routerLinkActive="active">Common</a></li>
			<li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
			<li><a routerLink="/users" routerLinkActive="active">Users</a></li>
			<li><a routerLink="/points" routerLinkActive="active">Points</a></li>
			<li><a routerLink="/vehicle" routerLinkActive="active">Vehicle</a></li>
			<li><a routerLink="/trips" routerLinkActive="active">Trips</a></li>
			<li><a routerLink="/hotels" routerLinkActive="active">Hotels</a></li>
			<li><a routerLink="/packages" routerLinkActive="active">Packages</a></li>
			<li><a routerLink="/static" routerLinkActive="active">Static pages</a></li>

		</ul>
		<div class="uk-navbar-flip">
			<ul class="uk-navbar-nav admin-navbar-nav">
				<li *ngIf="self"><a (click)="select()"><i class="uk-icon-user"></i>&nbsp;{{ self.title }}</a></li>
				<li><a href="/auth/logout"><i class="uk-icon-power-off"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="uk-container uk-container-center uk-margin">
	<router-outlet></router-outlet>
</div>
