<div class="uk-grid">
	<div class="uk-width-1-1 uk-margin-bottom">
		<h2>Common settings</h2>
	</div>
	<div class="uk-width-1-1 uk-form uk-form-stacked">
		<div class="uk-grid">
			<div class="uk-width-1-6 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">Exchange, $ per JD</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" type="number" [(ngModel)]="item.exchangeRate" (change)="update('exchangeRate')">
				</div>
			</div>
			<div class="uk-width-1-6 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">Exchange, SAR per JD</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" type="number" [(ngModel)]="item.exchangeRateSAR" (change)="update('exchangeRateSAR')">
				</div>
			</div>
			<div class="uk-width-1-6 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">Exchange, EGP per JD</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" type="number" [(ngModel)]="item.exchangeRateEGP" (change)="update('exchangeRateEGP')">
				</div>
			</div>
			<div class="uk-width-1-6 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">Processing fee, JD</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" type="number" [(ngModel)]="item.processingFee" (change)="update('processingFee')">
				</div>
			</div>
			<div class="uk-width-1-6 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">Egyptian mark up, %</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" type="number" [(ngModel)]="item.egyptianMarkUp" (change)="update('egyptianMarkUp')">
				</div>
			</div>
			<div class="uk-width-1-6 uk-margin-top">
				<label class="uk-form-label uk-width-1-1">Session duration, ms</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" type="number" [(ngModel)]="item.sessionDuration" (change)="update('sessionDuration')">
				</div>
			</div>
		</div>
	</div>
</div>
