<div class="main-search-form">
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="main-search-form_form">

                    <div class="row trip-select-header">
                        <div class="col-md-3">
                            <div class="styled-radio">
                                <input class="radio" (click)="toggleTripSelected('oneWayTrip')" [checked]="tripSelect.oneWayTrip" type="radio" name="tripselector-form_check" id="tripselector-form_check-oneway">
                                <label for="tripselector-form_check-oneway">One way</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="styled-radio">
                                <input class="radio" (click)="toggleTripSelected('twoWayTrip')" [checked]="tripSelect.twoWayTrip" type="radio" name="tripselector-form_check" id="tripselector-form_check-roundtrip">
                                <label for="tripselector-form_check-roundtrip">Round Trip</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="styled-radio">
                                <input class="radio" (click)="toggleTripSelected('packageTrip')" [checked]="tripSelect.packageTrip" type="radio" name="tripselector-form_check" id="tripselector-form_check-touristpackage">
                                <label for="tripselector-form_check-touristpackage">Tourist Package</label>
                            </div>
                        </div>
                    </div>
                    <form class="tripselector-form main-search-form_form_form" [ngClass]="{'hidden': tripSelect.packageTrip}">

                        <div class="row">

                            <div class="col-md-4">
                                <label for="routefrom">Route from</label>
                                <select name="routefrom" [(ngModel)]="oneWayTrip" id="routefrom" class="form-control fit-width">
											<option *ngFor="let trip of trips" [ngValue]="trip">{{ trip.title }} ({{ trip.points[0] && trip.points[0].title }}&rarr;{{ trip.points[1] && trip.points[1].title }})</option>
                                </select>
                                <i class="fa fa-exchange tripselector-arrow" aria-hidden="true" [ngClass]="{'show': tripSelect.oneWayTrip}"></i>
                                <i class="fa fa-long-arrow-right tripselector-arrow" aria-hidden="true" [ngClass]="{'show': tripSelect.twoWayTrip}"></i>
                            </div>

                            <div class="col-md-4">
                                <label for="routeto">Route to</label>
                                <select name="routeto" [(ngModel)]="oneWayTrip" id="routeto" class="form-control fit-width">
											<option *ngFor="let trip of trips" [ngValue]="trip">{{ trip.title }} ({{ trip.points[0] && trip.points[0].title }}&rarr;{{ trip.points[1] && trip.points[1].title }})</option>
                                </select>

                            </div>

                            <div class="col-md-4">
                                <div class="row">

                                    <div class="col-md-4 form-group">
                                        <label for="rf">Adults</label>
                                        <input type="number" name="adults" min="0" class="form-control" [(ngModel)]="adults">
                                    </div>

                                    <div class="col-md-4 form-group">
                                        <label for="rf">2-6 yr</label>
                                        <input type="number" name="kinds" min="0" class="form-control" [(ngModel)]="kinds">
                                    </div>

                                    <div class="col-md-4 form-group">
                                        <label for="rf">&lt;2 yr</label>
                                        <input type="number" name="infants" min="0" class="form-control" [(ngModel)]="infants">
                                    </div>

                                </div>


                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4 form-group">
                                <label for="rf">Date of departure</label>
                                <div class='input-group date'>
                                    <input type="text" class="form-control" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>

                            </div>

                            <div class="col-md-4 form-group">
                                <label for="rf">Date of return</label>
                                <div class='input-group date'>
                                    <input type="text" class="form-control" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>

                            </div>

                            <div class="col-md-4">
                                <label>Vehicle</label>
                                <select name="" id="rf" class="form-control fit-width">
                                    <option value="">Car</option>
                                    <option value="">Truck</option>
                                    <option value="">Motorcycle</option>
                                </select>
                            </div>

                        </div>

                        <div class="text-center submit-btn-container">

                            <input type="submit" class="btn btn-danger" (click)="submit()" value="CHECK AVALIABILITY">

                        </div>
                    </form>

                    <form class="main-search-form_form_form" [ngClass]="{'show': tripSelect.packageTrip}">
                        <div class="row">

                            <div class="col-md-4">
                                <label for="routefrom">Route from</label>
                                <select name="routefrom" [(ngModel)]="oneWayTrip" id="routefrom" class="form-control fit-width">
											<option *ngFor="let trip of trips" [ngValue]="trip">{{ trip.title }} ({{ trip.points[0] && trip.points[0].title }}&rarr;{{ trip.points[1] && trip.points[1].title }})</option>
                                </select>

                            </div>

                            <div class="col-md-4">
                                <label for="routeto">Route to</label>
                                <select name="routeto" [(ngModel)]="oneWayTrip" id="routeto" class="form-control fit-width">
											<option *ngFor="let trip of trips" [ngValue]="trip">{{ trip.title }} ({{ trip.points[0] && trip.points[0].title }}&rarr;{{ trip.points[1] && trip.points[1].title }})</option>
                                </select>

                            </div>


                            <div class="col-md-4">
                                <div class="row">

                                    <div class="col-md-4 form-group">
                                        <label for="packAdults">Adults</label>
                                        <input type="number" id="packAdults" class="form-control" />
                                    </div>

                                    <div class="col-md-4 form-group">
                                        <label for="packKids">2-6 yr</label>
                                        <input type="number" id="packKids" class="form-control" />
                                    </div>

                                    <div class="col-md-4 form-group">
                                        <label for="packInfants">&lt;2 yr</label>
                                        <input type="number" id="packInfants" class="form-control" />
                                    </div>

                                </div>


                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-4 form-group">
                                <label for="rf">Date of departure</label>
                                <div class='input-group date'>
                                    <input type="text" class="form-control" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>

                            </div>


                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <label>&nbsp;</label>
                                    <div class="">
                                        <div class="styled-checkbox">
                                            <input class="checkbox" type="checkbox" id="ch3">
                                            <label for="ch3">Any date</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="text-center submit-btn-container">

                            <input type="submit" class="btn btn-danger" value="CHECK AVALIABILITY">

                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- {{ tripsByType | json }} -->