<div class="main-search-form">
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="main-search-form_form">

                    <div class="trip-select-header uk-grid uk-flex">
                        <div class="uk-width-medium-1-3">
                            <div class="styled-radio">
                                <input class="radio" type="radio" name="tripselector-form_check" id="tripselector-form_check-oneway" [checked]="checkType('trip', 'oneway')" (click)="setType('trip', 'oneway')">
                                <label for="tripselector-form_check-oneway">{{ ml.tripTypeOneway | ml }}</label>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3">
                            <div class="styled-radio">
                                <input class="radio" type="radio" name="tripselector-form_check" id="tripselector-form_check-roundtrip" [checked]="checkType('trip', 'twoway')" (click)="setType('trip', 'twoway')">
                                <label for="tripselector-form_check-roundtrip">{{ ml.tripTypeRound | ml }}</label>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3">
                            <div class="styled-radio">
                                <input class="radio" type="radio" name="tripselector-form_check" id="tripselector-form_check-touristpackage" [checked]="checkType('package')" (click)="setType('package')">
                                <label for="tripselector-form_check-touristpackage">{{ ml.tripTypePackage | ml }}</label>
                            </div>
                        </div>
                    </div>
                    <form class="tripselector-form main-search-form_form_form">

                        <div class="uk-grid uk-flex">

                            <div class="uk-width-medium-1-3">
                                <label for="routefrom">{{ ml.routeFrom | ml }}</label>
                                <select name="routefrom" [(ngModel)]="pointA" id="routefrom" class="form-control fit-width">
									<option *ngFor="let point of APoints" [ngValue]="point">{{ point.title | ml }}</option>
                                </select>
                            </div>

                            <div class="uk-width-medium-1-3">
                                <label for="routeto">{{ ml.routeTo | ml }}</label>
                                <select name="routeto" [(ngModel)]="pointB" id="routeto" class="form-control fit-width" [disabled]="!pointA">
									<option *ngFor="let point of BPoints" [ngValue]="point">{{ point.title | ml }}</option>
                                </select>
                            </div>

                            <div class="uk-width-medium-1-3">
                                <div class="uk-grid uk-flex">

                                    <div class="uk-width-medium-1-3 form-group">
                                        <label for="rf">{{ ml.adults | ml }}</label>
                                        <input type="number" min="0" class="form-control" [(ngModel)]="adults" [ngModelOptions]="{standalone: true}">
                                    </div>

                                   <div class="uk-width-medium-1-3 form-group">
                                        <label for="rf">{{ ml.kids | ml }}</label>
                                        <input type="number" min="0" class="form-control" [(ngModel)]="kids" [ngModelOptions]="{standalone: true}" (change)="resetKidsAges()">
                                    </div>

                                </div>


                            </div>

                             <div class="uk-width-medium-1-1">
								<div *ngIf="kids">{{ ml.enterKidsAge | ml }}</div>
								<div class="uk-grid uk-flex">
									<div class="uk-width-1-10 form-group" *ngFor="let kid of kidsAges; let i = index;">
										<!--label for="rf">Kid {{ i + 1 }} age:</label-->
										<input type="number" min="0" class="form-control" [(ngModel)]="kid.value" [ngModelOptions]="{standalone: true}">
									</div>
								</div>
                             </div>

                        </div>
                        <div class="uk-grid uk-flex uk-margin-top-remove">

                            <div class="uk-width-medium-1-3 form-group">
                                <label for="rf">{{ ml.dateOfDeparture | ml }}</label>
                                <div class='input-group date'>
									<input #departureDateNode name="departureDate" class="form-control" type="text"  [value]="departureDate | date: 'dd.MM.yyyy'">
                                </div>

                            </div>

                            <div class="uk-width-medium-1-3 form-group" [class.hide]="!checkType('trip', 'twoway')">
                                <label for="rf">{{ ml.dateOfReturn | ml }}</label>
                                <div class='input-group date'>
                                   <input #returnDateNode name="returnDate" class="form-control" type="text" [value]="returnDate | date: 'dd.MM.yyyy'">
                                </div>
                            </div>

                            <div class="uk-width-medium-1-3" [class.hide]="!checkType('package')">
                                <div class="col-md-6">
                                    <label>&nbsp;</label>
                                    <div class="">
                                        <div class="styled-checkbox">
                                            <input class="checkbox" type="checkbox" id="ch3">
                                            <label for="ch3">{{ ml.anyDate | ml }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-medium-1-3" [class.hide]="checkType('package')">
                                <label>{{ ml.vehicle | ml }}</label>
                                <select name="vehicle" [(ngModel)]="vehicle" class="form-control fit-width" [disabled]="!pointA || !pointB">
                                	<option [ngValue]="null">{{ ml.none | ml }}</option>
                                    <option *ngFor="let curVehicle of vehicleList" [ngValue]="curVehicle">{{ curVehicle.title | ml }}</option>
                                </select>
                            </div>

                        </div>

                        <div class="text-center submit-btn-container">
                            <input type="submit" class="btn btn-danger" (click)="submit()" value="{{ ml.checkAvailability | ml }}" [disabled]="!valid">
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>
</div>
