        <div class="main-content" role="content">
            <div class="container">

                <div class="tourist-package">

                    <div class="tourist-package_slider-container full-width">

                        <div class="owl-carousel tour-carousel">
                            <div class="carousel-item"><img src="/pics/hotel/hotel-1330846_640.jpg" alt=""></div>
                            <div class="carousel-item"><img src="/pics/hotel/hotel-1330847_640.jpg" alt=""></div>
                            <div class="carousel-item"><img src="/pics/hotel/image2.jpg" alt=""></div>
                            <div class="carousel-item"><img src="/pics/hotel/image3.jpg" alt=""></div>
                            <div class="carousel-item"><img src="/pics/hotel/image61.jpg" alt=""></div>
                            <div class="carousel-item"><img src="/pics/hotel/image62.jpg" alt=""></div>
                        </div>

                    </div>

					<ol class="breadcrumb">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Tourist Packages</a></li>
					  <li><a href="#">Tour for two to Sharm El-Sheikh</a></li>
                    </ol>

                    <div class="row tourist-package_body">

                        <div class="col-md-9">

                            <a href="" class="btn btn-primary btn-ghost btn-left">New search</a>

                            <h1>Tour for two to Sharm El-Sheikh</h1>

                            <div class="tourist-package_date-line">
                                <span class="tourist-package_date">21 Aug 2016 > 28 Aug 2016 (7 nights)</span>
                                <a class="datepicker-link" role="button" data-toggle="collapse" href="#tour123_datepicker" aria-expanded="false">other dates for this tour</a>
                                <div style="position:relative" >
                                    <div id="tour123_datepicker" class="popover bottom datepicker-container collapse" role="tooltip"><div class="arrow"></div><div class="popover-content">
                                    <div class="tour_datepicker"></div>
                                    </div></div>
                                </div>
                            </div>

                            <div class="tourist-package_hotel">
                                <h3>Your Hotel Room</h3>
                                <div class="tourist_package_hotel_head row">
                                    <div class="col-md-10">
                                        <h4>Hotel Eden Rock Hotel Namaa Bay
                                            <span class="rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="col-md-2">
                                        Tripadvisor rating
                                    </div>
                                </div>

                                <div class="tourist-package_hotel-description">

                                    <p>One of our bestsellers in Sharm El Sheikh! This property is 3 minutes walk from the beach. Featuring stunning views of the Red Sea and the Sinai desert mountains, this hotel in Naama Bay offers rooms with a private balcony or terrace. Facilities include an outdoor pool.</p>
                                    <p>The air-conditioned rooms of Eden Rock Hotel are decorated with wooden furniture and large windows. All rooms have satellite TV, a minibar, and an en suite bathroom. Some rooms have a seating area.</p>
                                    <p>Guests can enjoy local and international cuisine in main restaurant Fever, which overlooks the pool. Pool bar Parrot offers a wide variety of drinks and panoramic views. Indoor bar Wave is open 24/7.</p>
                                    <p>A staircase leads from Eden Rock?s pool area to a private, sandy beach area and Naama Bay?s marina. The hotel also offers massage services, laundry facilities, and a 24-hour reception.</p>
                                    <p>Several shops, restaurants and bars are within walking distance of Eden Rock Hotel. Sharm el-Sheikh International Airport is just 15 km from the hotel.</p>
                                    <p>This is our guests? favourite part of Sharm El Sheikh, according to independent reviews.</p>
                                    <p>We speak your language!</p>
                                    <p>Eden Rock Hotel Namaa Bay has been welcoming Booking.com guests since 2 Mar 2011</p>
                                    <p>Hotel Rooms: 88</p>


                                </div>

                                <h3>Hotel facilities</h3>

                                <ul>
                                    <li>Free WiFi</li>
                                    <li>Free parking</li>
                                    <li>Restaurant</li>
                                    <li>Room service</li>
                                    <li>Facilities for disabled</li>
                                </ul>


                                <div class="tourist-package_hotel-options-list">

                                    <div class="option-bar tourist-package_hotel-option selected">
                                        <div class="option-bar_tag">Best option!</div>
                                        <div class="row option-bar_content">

                                            <div class="col-md-3 option-bar_image">
                                                <div class="">
                                                    <a href=""><img src="/pics/hotel/hotel-1330846_640.jpg" alt=""></a>
                                                </div>
                                            </div>

                                            <div class="col-md-7">

                                                <div class="option-bar_description">
                                                    <h5 class="option-bar_title">1 bedroom apartment</h5>

                                                    <div class="text">
                                                        Up to 4 people. With 1 double bed or twin beds and 1 sofa bed plus 1 fold-out bed in a separate living room. Air conditioning (payable locally)? kitchenette with small fridge, kettle, cooking rings & cooking utensils? shower room and a balcony or terrace.
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-2 option-bar_pricing">
                                                <div class="btn btn-chosen">
                                                    <i class="fa fa-check" aria-hidden="true"></i> Your choise</div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="option-bar tourist-package_hotel-option">

                                        <div class="row option-bar_content">

                                            <div class="col-md-3 option-bar_image">
                                                <div class="">
                                                    <a href=""><img src="/pics/hotel/hotel-1330846_640.jpg" alt=""></a>
                                                </div>
                                            </div>

                                            <div class="col-md-7">

                                                <div class="option-bar_description">
                                                    <h5 class="option-bar_title">2 bedroom apartment</h5>

                                                    <div class="text">
                                                        Up to 4 people. With 1 double bed or twin beds and 1 sofa bed plus 1 fold-out bed in a separate living room. Air conditioning (payable locally)? kitchenette with small fridge, kettle, cooking rings & cooking utensils? shower room and a balcony or terrace.
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-2 option-bar_pricing">

                                                <div class="option-bar-item_price">
                                                    <div class="price">$100</div>
                                                    <div class="lbl">per person</div>
                                                </div>


                                                <a href="" class="btn btn-info btn-ghost btn-option-choose">Chose this</a>

                                            </div>

                                        </div>

                                    </div>


                                    <h2>Upgrade your package</h2>

                                    <div class="option-bar tourist-package_hotel-option">

                                        <div class="row option-bar_content">

                                            <div class="col-md-10">

                                                <div class="option-bar_description">
                                                    <h5 class="option-bar_title">Extra bed</h5>

                                                    <div class="text">
                                                        Up to 4 people. With 1 double bed or twin beds and 1 sofa bed plus 1 fold-out bed in a separate living room. Air conditioning (payable locally). </div>
                                                </div>

                                            </div>

                                            <div class="col-md-2 option-bar_pricing">

                                                <div class="option-bar-item_price">
                                                    <div class="price">$20</div>
                                                    <div class="lbl">per tour</div>
                                                </div>


                                                <a href="" class="btn btn-info btn-ghost btn-option-choose">Chose this</a>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="option-bar tourist-package_hotel-option">

                                        <div class="row option-bar_content">



                                            <div class="col-md-10">

                                                <div class="option-bar_description">
                                                    <h5 class="option-bar_title">Sea view</h5>

                                                    <div class="text">
                                                        Up to 4 people. With 1 double bed or twin beds and 1 sofa bed plus 1 fold-out bed in a separate living room. Air conditioning (payable locally). </div>
                                                </div>

                                            </div>

                                            <div class="col-md-2 option-bar_pricing">

                                                <div class="option-bar-item_price">
                                                    <div class="price">$20</div>
                                                    <div class="lbl">per tour</div>
                                                </div>


                                                <a href="" class="btn btn-info btn-ghost btn-option-choose">Chose this</a>

                                            </div>

                                        </div>

                                    </div>

                                    <h2>Add tours from your hotel</h2>

                                    <div class="option-bar tourist-package_hotel-option">

                                        <div class="row option-bar_content">

                                            <div class="col-md-3 option-bar_image">
                                                <div class="">
                                                    <a href=""><img src="/pics/2216756909_4d46dac5f6_z.jpg" alt=""></a>
                                                </div>
                                            </div>

                                            <div class="col-md-7">

                                                <div class="option-bar_description">
                                                    <h5 class="option-bar_title">Cairo Day Tour</h5>

                                                    <div class="text">
                                                    Up to 4 people. With 1 double bed or twin beds and 1 sofa bed plus 1 fold-out bed in a separate living room. Air conditioning (payable locally)? kitchenette with small fridge, kettle, cooking rings & cooking utensils? shower room and a balcony or terrace.
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-2 option-bar_pricing">

                                                <div class="option-bar-item_price">
                                                    <div class="price">$80</div>
                                                    <div class="lbl">per person</div>
                                                </div>


                                                <a href="" class="btn btn-info btn-ghost btn-option-choose">Chose this</a>

                                            </div>

                                        </div>

                                    </div>

                                    <!-- -->
                                </div>

                            </div>

                            <div class="text-center widget_submit">
                                <button type="submit" class="btn btn-danger btn-lg">
                                    Order Trip
                                </button>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <aside class="widget tour-details sticky-widget" id="tour-details">
                                <header class="widget_header">
                                    Order details
                                </header>

                                <div class="widget_section-header tour-trip">
                                    <i class="ico ico_boat"></i>
                                    <b>Trip</b>

                                    <a class="widget_toggle-btn" role="button" data-toggle="collapse" href="#tour-trip_details" aria-expanded="true"><span class="caret"></span></a>

                                </div>

                                <div class="widget_section-body tour-trip_details collapse in" id="tour-trip_details">
                                    <div class="order-trip_detail widget_line">
                                        <div class="lbl">Outbound</div>
                                        <div class="val">21 aug 2016</div>
                                    </div>
                                    <div class="order-trip_outbound">10.00 Aqaba City Port - 11.00 Sharm el-Sheikh Marine Port</div>

                                    <div class="order-trip_detail widget_line">
                                        <div class="lbl">Return</div>
                                        <div class="val">28 aug 2016</div>
                                    </div>
                                    <div class="order-trip_outbound">0.00 Sharm el-Sheikh Marine Port - 11.00 Aqaba City Port</div>

                                </div>

                                <div class="widget_section-header tour-hotel">
                                    <i class="ico ico_hotel"></i>
                                    <b>Hotel</b>
                                    <a class="widget_toggle-btn" role="button" data-toggle="collapse" href="#order-trip_details" aria-expanded="false"><span class="caret"></span></a>
                                </div>

                                <div class="widget_section-body order-trip_details collapse" id="order-trip_details">
                                    <div class="order-trip_detail widget_line">
                                        <b>Hotel Eden Rock Hotel Namaa Bay</b>
                                    </div>
                                    <div class="order-trip_detail widget_line">
                                        <b>1 Bedroom Apartment <br>
                                            (2 adults)</b>
                                    </div>
                                </div>

                                <div class="widget_section-header tour-upgrades">
                                    <i class="ico ico_hotel"></i>
                                    <b>Upgrades</b>
                                    <a class="widget_toggle-btn" role="button" data-toggle="collapse" href="#upgrades_details" aria-expanded="false"><span class="caret"></span></a>
                                </div>

                                <div class="widget_section-body collapse" id="upgrades_details">
                                    <div class="order-trip_detail widget_line">
                                        <div class="lbl">Sea view</div>
                                        <div class="val">$20</div>
                                    </div>
                                </div>

                                <div class="widget_section-header tour-tours">
                                    <i class="ico ico_tour"></i>
                                    <b>Tours</b>
                                    <a class="widget_toggle-btn" role="button" data-toggle="collapse" href="#tours_details" aria-expanded="false"><span class="caret"></span></a>
                                </div>

                                <div class="widget_section-body collapse" id="tours_details">
                                    <div class="order-trip_detail widget_line">
                                        <div class="lbl">Cairo day tour</div>
                                        <div class="val">$50</div>
                                    </div>
                                </div>

                                <footer class="widget_footer">

                                    <form action="">

                                        <p class="widget-label"><b>Number of guests</b></p>

                                        <div class="row">

                                            <div class="col-md-4 form-group">
                                                <label for="rf">Adults</label>
                                                <input type="text" class="form-control" data-control="spinner-vertical" />
                                            </div>

                                            <div class="col-md-4 form-group">
                                                <label for="rf">2-6 yr</label>
                                                <input type="text" class="form-control" data-control="spinner-vertical" />
                                            </div>

                                            <div class="col-md-4 form-group">
                                                <label for="rf">&lt;2 yr</label>
                                                <input type="text" class="form-control" data-control="spinner-vertical" />
                                            </div>

                                        </div>

                                        <p class="widget-label"><b>Price</b> (per person)</p>

                                        <div class="widget_section-body">
                                            <div class="widget_line">
                                                <div class="lbl">Adults</div>
                                                <div class="val">$30 x 2</div>
                                            </div>
                                            <div class="widget_line">
                                                <div class="lbl">2-6yr</div>
                                                <div class="val">$15</div>
                                            </div>
                                            <div class="widget_line">
                                                <div class="lbl">&lt;2yr</div>
                                                <div class="val">$5</div>
                                            </div>
                                            <div class="widget_line">
                                                <div class="lbl">Vehicle (car)</div>
                                                <div class="val">$20</div>
                                            </div>
                                        </div>

                                        <div class="tour-details_summary">
                                            <div class="tour-details_summary_line">
                                                <div class="lbl">Tickets price</div>
                                                <div class="val">$100</div>
                                            </div>
                                        </div>

                                        <div class="text-center widget_submit">
                                            <button type="submit" class="btn btn-danger">
                                                Order Trip
                                            </button>
                                        </div>

                                    </form>
                                </footer>

                            </aside>

                        </div>

                    </div>


                </div>
            </div>

        </div>
